<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">CSS</li>
        <li class="active">按钮</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">按钮 <small>Without icon ahead.</small></h5>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-sm btn-default">默 认</button>
            <button type="button" class="btn btn-sm btn-primary">主 要</button>
            <button type="button" class="btn btn-sm btn-success">成 功</button>
            <button type="button" class="btn btn-sm btn-info">信 息</button>
            <button type="button" class="btn btn-sm btn-warning">警 告</button>
            <button type="button" class="btn btn-sm btn-danger">危 险</button>
            <div style="margin: 10px 0;"></div>
            <button type="button" class="btn btn-default">默 认</button>
            <button type="button" class="btn btn-primary">主 要</button>
            <button type="button" class="btn btn-success">成 功</button>
            <button type="button" class="btn btn-info">信 息</button>
            <button type="button" class="btn btn-warning">警 告</button>
            <button type="button" class="btn btn-danger">危 险</button>
            <div style="margin: 10px 0;"></div>
            <button type="button" class="btn btn-lg btn-default">默 认</button>
            <button type="button" class="btn btn-lg btn-primary">主 要</button>
            <button type="button" class="btn btn-lg btn-success">成 功</button>
            <button type="button" class="btn btn-lg btn-info">信 息</button>
            <button type="button" class="btn btn-lg btn-warning">警 告</button>
            <button type="button" class="btn btn-lg btn-danger">危 险</button>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">按钮 <small>With icon ahead.</small></h5>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-leaf"></span>&nbsp;默 认</button>
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-star"></span>&nbsp;主 要</button>
            <button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;成 功</button>
            <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;信 息</button>
            <button type="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;警 告</button>
            <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-fire"></span>&nbsp;危 险</button>
            <div style="margin: 10px 0;"></div>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-leaf"></span>&nbsp;默 认</button>
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span>&nbsp;主 要</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;成 功</button>
            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;信 息</button>
            <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;警 告</button>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span>&nbsp;危 险</button>
            <div style="margin: 10px 0;"></div>
            <button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-leaf"></span>&nbsp;默 认</button>
            <button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-star"></span>&nbsp;主 要</button>
            <button type="button" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;成 功</button>
            <button type="button" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;信 息</button>
            <button type="button" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;警 告</button>
            <button type="button" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-fire"></span>&nbsp;危 险</button>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->
