<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="SJ Admin">
    <meta name="description" content="SJ Admin v0.0.1">
    <meta name="author" content="J.Soon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SJ Admin</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
     <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/3.1.1/dist/css/bootstrap.css">
    <!-- flat font icon -->
    <link rel="stylesheet" type="text/css" href="../lib/flaticon/flaticon.css">
    <!-- bootstrap datetimepicker -->
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- webuploader -->
    <link rel="stylesheet" type="text/css" href="../lib/webuploader/0.1.4/dist/webuploader.css">
    <!-- UMEditor -->
    <link rel="stylesheet" type="text/css" href="../lib/umeditor/1.2.2/themes/default/css/umeditor.css">
    <!-- animate -->
    <link rel="stylesheet" type="text/css" href="../lib/animate/animate.css">
    <!-- custom -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv-printshiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- header -->
    <header id="sjHeader">
        <a href="#" id="sjLogo">LOGO</a>
        <!-- primary nav -->
        <nav id="sjPriNav">
            
        </nav><!-- /primary nav -->
    </header><!-- /header -->

    <!-- aside -->
    <aside id="sjAside">
        <div id="sjSubNav">
        </div>
        <div class="sj-aside-bg"></div>
    </aside><!-- /aside -->

    <!-- section -->
    <section id="sjContentPane">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><i class="flaticon-pin8"></i> 你在这里：</li>
                <li class="active">主面板</li>
            </ol>
        </div>
    </section><!-- /section -->




    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
    <!-- 你是我的小呀小苹果，怎么引入都不嫌多！ -->
    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
    <!-- jQuery -->
    <script src="../lib/jquery/1.11.1/jquery-1.11.1.js"></script>
    <!-- bootstrap -->
    <script src="../lib/bootstrap/3.1.1/dist/js/bootstrap.js"></script>
    <!-- jquery validate -->
    <script src="../lib/jquery-validation/1.12.0/dist/jquery.validate.js"></script>
    <script src="../lib/jquery-validation-bootstrap-tooltip/0.3/jquery-validate.bootstrap-tooltip.js"></script>
    <!-- bootstrap datetimepicker -->
    <script src="../lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- nicescroll -->
    <script src="../lib/nicescroll/3.4.0/jquery.nicescroll.js"></script>
    <!-- webuploader -->
    <script src="../lib/webuploader/0.1.4/dist/webuploader.js"></script>
    <!-- ECharts -->
    <script src="../lib/echarts/2.0.0/build/echarts-plain-original-map.js"></script>
    <!-- UMEditor -->
    <script src="../lib/umeditor/1.2.2/umeditor.config.js"></script>
    <script src="../lib/umeditor/1.2.2/umeditor.js"></script>
    <!-- UMEditor 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
    <script src="../lib/umeditor/1.2.2/lang/zh-cn/zh-cn.js"></script>
    <!-- custom -->
    <script src="../js/tmpl-importer.js"></script>
    <script src="../js/sj.ajax.js"></script>
    <script src="../js/sj.cms.js?v0.0.1"></script>
</body>

</html>