<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">组件</li>
        <li class="active">下拉菜单</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">下拉菜单</h5>
        </div>
        <div class="panel-body">
            <div class="dropdown">
                <button type="button" class="btn btn-default" data-toggle="dropdown">
                    下拉菜单 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu animated flipInX" role="menu" aria-labelledby="dLabel">
                    <li role="presentation" class="dropdown-header">分组 1</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉项 1</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉项 2</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">分组 2</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉项 3</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉项 4</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉项 5</a></li>
                </ul>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->

