<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">CSS</li>
        <li class="active">栅格系统</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">栅格系统</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
                <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
            </div>
            <div class="row">
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
                <div class="col-md-2"><div class="well well-sm">.col-md-2</div></div>
            </div>
            <div class="row">
                <div class="col-md-3"><div class="well well-sm">.col-md-3</div></div>
                <div class="col-md-3"><div class="well well-sm">.col-md-3</div></div>
                <div class="col-md-3"><div class="well well-sm">.col-md-3</div></div>
                <div class="col-md-3"><div class="well well-sm">.col-md-3</div></div>
            </div>
            <div class="row">
                <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
                <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
                <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
            </div>
            <div class="row">
                <div class="col-md-6"><div class="well well-sm">.col-md-6</div></div>
                <div class="col-md-6"><div class="well well-sm">.col-md-6</div></div>
            </div>
            <div class="row">
                <div class="col-md-12"><div class="well well-sm">.col-md-12</div></div>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->
