<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">CSS</li>
        <li class="active">图片</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">图片&nbsp;<small>.img-rounded</small></h5>
                </div>
                <div class="panel-body text-center">
                    <img src="http://lorempixel.com/256/256/food/img-rounded" alt="" class="img-rounded">
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">图片&nbsp;<small>.img-circle</small></h5>
                </div>
                <div class="panel-body text-center">
                    <img src="http://lorempixel.com/256/256/food/img-circle" alt="" class="img-circle">
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">图片&nbsp;<small>.img-thumbnail</small></h5>
                </div>
                <div class="panel-body text-center">
                    <img src="http://lorempixel.com/256/256/food/img-thumbnail" alt="" class="img-thumbnail">
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div>
</div><!-- /.container-fluid -->
