<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">组件</li>
        <li class="active">媒体对象</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">媒体对象</h5>
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img src="http://lorempixel.com/64/64/people" alt="" class="img-circle">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">小明</h5>
                    这是一条评论。
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img src="http://lorempixel.com/64/64/people" alt="" class="img-circle">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">小红</h5>
                    这是一条评论。
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img src="http://lorempixel.com/g/64/64/people" alt="" class="img-circle">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">小花</h5>
                            这是一条评论。
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->

