<!-- 顶部一级导航栏 -->
<a href="#" class="sj-1st-nav-item active"><img src="../img/nav/pri_1.png" alt=""><h5>主面板</h5></a>
<a href="#" class="sj-1st-nav-item"><img src="../img/nav/pri_2.png" alt=""><h5>一级导航</h5></a>
<a href="#" class="sj-1st-nav-item"><img src="../img/nav/pri_3.png" alt=""><h5>一级导航</h5></a>
<a href="#" class="sj-1st-nav-item"><img src="../img/nav/pri_4.png" alt=""><h5>一级导航</h5></a>
<a href="#" class="sj-1st-nav-item"><img src="../img/nav/pri_5.png" alt=""><h5>一级导航</h5></a>
<div class="dropdown sj-user-avatar">
    <a data-toggle="dropdown" href="#"><img src="../img/nav/avatar_default.png" alt=""><h5>User</h5></a>
    <ul class="dropdown-menu animated flipInX" role="menu" aria-labelledby="dLabel">
        <li class="sj-arrow-top"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="flaticon-user11"></i> 个人资料</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="flaticon-symbol2"></i> 退出</a></li>
    </ul>
</div>