<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">组件</li>
        <li class="active">缩略图</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">缩略图</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/512/512/food" alt="">
                        <div class="caption">
                            <h3>缩略图</h3>
                            <p>缩略图描述...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/512/512/food" alt="">
                        <div class="caption">
                            <h3>缩略图</h3>
                            <p>缩略图描述...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/512/512/food" alt="">
                        <div class="caption">
                            <h3>缩略图</h3>
                            <p>缩略图描述...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/512/512/food" alt="">
                        <div class="caption">
                            <h3>缩略图</h3>
                            <p>缩略图描述...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->

