<div class="container-fluid">
    <ol class="breadcrumb">
        <li><i class="flaticon-pin8"></i> 你在这里：</li>
        <li class="active">CSS</li>
        <li class="active">排版</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">标题</h5>
        </div>
        <div class="panel-body">
            <h1>h1. Bootstrap heading&nbsp;<small>36px</small></h1>
            <h2>h2. Bootstrap heading&nbsp;<small>30px</small></h2>
            <h3>h3. Bootstrap heading&nbsp;<small>24px</small></h3>
            <h4>h4. Bootstrap heading&nbsp;<small>18px</small></h4>
            <h5>h5. Bootstrap heading&nbsp;<small>14px</small></h5>
            <h6>h6. Bootstrap heading&nbsp;<small>12px</small></h6>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.container-fluid -->

